h1, h2, h3{
  color: blue;
  text-decoration: underline;
  clear: both;
  text-align: center;
}

a:link {
  color: blue;
}

a:visited {
  color: green;
}

a:hover {
  color: red;
}

a:active {
  color: yellow;
}

br {
  clear: both;
}

button{
  border: 3px blue solid;
  border-radius: 20px;
  border-bottom: none;
  background-color: aquamarine;
}

li {
  list-style: none;
}

.header-container {
	display: flex;
}

.header {
	width: 66%;
	text-align: center;
}

.logo {
  margin: 0;
  font-size: 7em; 
}

.adress {
  margin: 0;
	width: 34%;
  text-align: center;
  font-style: italic;
  font-size: 17px;
  line-height: 120%;
}

.subbanner {
  font-size: 1.5em;
  background-color: lightblue;
  text-align: center;
  padding: 1px;
}

.brandsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.listleft {
  text-align: center;
  width: 20%;
}

.listright {
  text-align: center;
  width: 20%;
  list-style-type: none;
}

.pic {
  height: 150px;
  width: 150px;
  border-radius: 20px;
  border: 2px red solid;
  margin: 2px;
  -webkit-box-shadow: 14px 13px 28px 0px rgba(0,0,0,0.34); 
  box-shadow: 14px 13px 28px 0px rgba(0,0,0,0.34);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 200px;
  z-index: 1;
}

.dropdown-content a {
  background-color:aquamarine;
  border: 1px blue solid;
  border-radius: 10px;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: aqua;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.map {
  border: 1px black solid;
  border-radius: 20px;
  border: 2px blue solid;
}

form ol { 
  list-style-type: none; 
}

form  { 
  text-align: left; 
  margin: 20px;
}

label { 
  width: 250px; 
  margin-top: 5px; 
  font-weight: bold;
}
  
.submit { 
  height: 25px;
  width: 90px;
  border: 2px blue solid;
  border-radius: 20px;
  border-bottom: none;
  background-color: aquamarine; 
  font-size:12px;
}

input { 
  width: 280px; 
  margin:0 0 16px 10px;
  border:2px blue solid;
  padding:5px; 
  background:none;
  border-radius: 10px;
}

textarea {
  vertical-align: text-top;
  width: 280px; 
  height: 150px; 
  margin:0 0 16px 10px;
  border:2px blue solid; 
  padding:5px; 
  background:none; 
  border-radius: 10px;
  }

select { 
  width: 280px; 
  height: 30px; 
  margin:0 0 16px 10px;
  border:2px blue solid;
  border-radius: 10px;
  background:none;  
}

.footer {
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  color: darkblue;
  background-color: lime;
}

.refpic{
  display: inline-block;
  width: 30%;
  margin-bottom: 5px;
  border: 3px blue solid;
  border-radius: 30px;
  line-height: 100%;
  font-size: 16px;
}

.fridgepic {
  height: auto;
  width:75px;
}

.refpic1{
  width: 30%;
  display: inline-block;
  margin-bottom: 5px;
  border: 3px blue solid;
  border-radius: 30px;
  line-height: 100%;
  font-size: 12px;
}

.freezpic {
  height: 220px;
  width: 200px;
}